apiVersion: v1
kind: Service
metadata:
  name: podinfo
  namespace: podinfo
spec:
  type: NodePort
  selector:
    app: podinfo
  ports:
  - port: 9898
    targetPort: 9898
    protocol: TCP
    name: http
